.button{
    background-color: rgb(145, 91, 12);
    text-align: center;
}
.name{
    color: aliceblue;
    font-size:20px;
    margin-left: auto;
    position: relative ;
    left: 45%;
    top: -36px;
}
button{
    margin: 20px 10px 0 5px;
    padding: 10px;
    font-size:16px;
    border-radius: 5px;
    background-color: rgb(229, 238, 229);
    text-align: center;
    display: inline-block;
    z-index: 1;
    position: relative;
}
a {
    text-decoration: none;
}
.logout-button {
    color: rgb(0, 0, 0);
    text-decoration:underline; 
}
.logout-container {
    margin-top: 5px; 
}
