{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static',filename='/lab5/articles.css')}}">
{% endblock %}

{% block script %}

{% endblock %}

{% block main %}
   <h1>Поздравления</h1>
   <div class="articles-container">
      {%for article in articles %}
         <div class="article">
            <h2>{{ article.title }}</h2>
            <blockquote>{{ article.article_text }}</blockquote>
            <a href="/lab8/redact/{{ article.id }}">Редактировать</a>
         </div>
      {%endfor%}    
   </div>
{% endblock %}