{% extends "base.html" %}

{% block lab %} Лабораторная работа 3 {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static',filename='pay.css')}}">
{% endblock %}
{% block main %}
    <h1>Оплата</h1>

    <div class="price">
        Сумма к оплате: {{price}}
    </div>

    <form action="/lab3/success">
        <input type="hidden" name="price" value="{{ price }}"> 
        <div class="pole">
            <div class="card">Номер банковской карты:</div>
            <label>
                <input type="text" name="card" pattern="\d{16}">
            </label>
        
            <div class="card">Имя держателя карты:</div>
            <label>
                <input type="text" name="name">
            </label>
        
            <div class="card">Номер CVV:</div>
            <label>
                <input type="text" name="cvv" size="3" pattern="\d{3}">
            </label>
        
            <div>
                <button type="submit">Оплатить</button>
                <a class="reset" href="/lab3/order">Отказаться</a>
            </div>
        </div>
    </form>
{% endblock %}
