{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static',filename='/lab5/articles.css')}}">
{% endblock %}

{% block main %}
   <h1>Статьи</h1>
   <div class="articles-container">
      {%for article in articles %}
         <div class="article">
            <h2>{{ article['title'] }}</h2>
            <blockquote>{{ article['article_text'] }}</blockquote>
            <a href="/lab5/redact?id={{ article['id'] }}">Редактировать</a>
         </div>
      {%endfor%}    
   </div>
{% endblock %}