{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static',filename='/lab5/create.css')}}">
{% endblock %}

{% block main %}
<h1>Редактирование статьи</h1>

<form action="/lab5/redact" method="post">
    <input type="hidden" name="id" value="{{ article['id'] }}">  
    <div class="form-group">
        <label>Название статьи:</label>
        <input type="text" name="title" value="{{ article['title'] }}" required>
    </div>
    <div class="form-group">
        <label>Текст статьи:</label>
        <textarea name="article_text" required>{{ article['article_text'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit">Сохранить</button>
    </div>
</form>

<form action="/lab5/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" value="{{ article['id'] }}">   
        <button type="submit">Удалить</button>
    </form>
{% endblock %}