{% extends "base.html" %}

{% block lab %} Лабораторная работа 8 {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{url_for('static',filename='/lab5/login.css')}}">
{% endblock %} 
{% block main %}
    <h1>Регистрация</h1>
    <form action="/lab8/register" method="post">
        <div>
            <label>
                Логин: <input type="text" name="login" value="{{login}}">
            </label>
        </div>

        <div>
            <label>
                Пароль: <input type="password" name="password">
            </label>
        </div>
        <div>
            <span style="color: red; font-weight:bold">{{error}}</span>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}